<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>

    <body background="/static/images/4911168.jpg">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">OS Visualiser</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">FIFO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">FIFO</a></li>
                                <li><a class="dropdown-item" href="#">LRU</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- <div class="container my-3">
            <h3>Enter Your Todo's</h3>
            <form action="/optimum" method="POST">
                <div class="mb-3">
                    <label for="input_string" class="form-label">Input String</label>
                    <input type="text" class="form-control" id="input_string" aria-describedby="emailHelp" name="input_string">
                </div>
                <div class="mb-3">
                    <label for="frames" class="form-label">Number of Frames</label>
                    <input type="text" class="form-control" id="frames" aria-describedby="emailHelp" name="frames">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div> -->
        <!-- <div class="container my-3">
            <h3>Your To Do's</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Page Sequence</th>
                        {% for i in frames  %}
                            <th scope="col">f</th>
                        {% endfor %}
                        <th scope="col">Page Hit/Miss</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in matr  %}
                        <tr>
                            <th scope="row" id="sno">{{ loop.index }}</th>
                            {% for frames in row  %}
                                <td>{{ frames }}</td>
                            {% endfor %}
                            <td>
                                <div class="state">
                                    {{status[loop.index-1]}}</td>
                                </div>
                                
                            <script>
                                (function(){
                                    var no =parseFloat(document.getElementById("sno").innerHTML);
                                    if(status[no-1]=="hit"){
                                        document.getElementById("state").style.backgroundColor="#99C262";
                                    }
                                    else{
                                        document.getElementById("state").style.backgroundColor="#99C262";
                                    }
                                    console.log("function working")
                                })();
                            </script>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    </body>

</html>